* {
  background-color: black;
}

h1 {
  color: white;
  font-family: 'Lobster', cursive;
}

h3 {
  color: white;
  font-family: 'Lobster', cursive;
}

img {
  border: 2px solid white;
}

.center {
  text-align: center;
  padding-bottom: 50px;
  color: white;
  font-family: 'Lobster', cursive;
  text-decoration: none;
}