img {
  display: inline-block;
}

#princess {
  float: center;
}

h1 {
  float: center;
}

#castle {
  size: 40%;
  float: left;
}

#mountain {
  size: 40%;
  float: right;
}

#forest {
  size: 40%;
  float: left;
}

#battle {
  size: 40%;
  float: right;
}