img {
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  letter-spacing: -1px;
  font-weight: bold;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

.left {
  display: inline;
  text-align: left;
}

.right {
  display: inline;
  text-align: right;
}

