* {
  background-color: black;
}

img {
  margin-top: 5%;
  margin-bottom: 10%;
  margin-left: 10%;
  display: inline-block;
  float: left;
}


h1 {
  color: white;
  display: inline-block;
  margin-top: 20%;
  margin-right: 10%;
  font-family: 'Lobster', cursive;
  text-align: center;
  float: right;
}

.center {
  text-align: center;
  padding-bottom: 20px;
}

a {
  font-family: perpetua, georgia;
  text-decoration: none;
  color: white;
}

