* {
  background-color:black;

}

h1 {
  font-size: 120px;
  display: inline-block;
  margin-top: 218px;
  padding-left: 30px;
  font-family: 'Lobster', cursive;
  color: white;
}

span {
  color: red;
}

img {
  width: 600px;
  height: 600px;
  float: right;
  display: inline-block;
  margin-top: 15px;
  margin-right: 10px;

}