/*General */

#nav {
  position: fixed;
  background-color: white;
  padding-right: 1em;
  padding-left: 1em;
  font-family: 'Montserrat', sans-serif;
  left: 0;
  right: 0;
  z-index: 10;
}

.hotlinks {
  font-size: 2vw;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #5c5c5c;
}

.name {
  font-size: 3.5vw;
  text-align: center;
}

.intro {
  font-size: 2vw;
  text-align: center;
}

.title {
  font-size: 2.5vw;
  text-align: center;
  color: #ed4a43;
}

.blog-entry {
  margin-top: 4em;
  border-top: 1px solid #ed4a43;
}

.entry-date {
  font-size: 2vw;
  color: #6DCDEE;
  margin: 2em 0;
}

a {
  text-decoration: none;
  color: #5c5c5c;
}

.blue-link {
  color: #6DCDEE;
}

section {
  padding-top: 4em;
  min-height: 100vh;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#footer {
  padding-right: 1em;
  padding-left: 1em;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
}

#right {
  text-align: right;
  float: right;
}

#venn div{
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  opacity: .8;
  behavior: url(/stylesheets/PIE.htc);
}

#venn {
  text-align: center;
  margin: 5vh;
}

.circle {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5vw;
  line-height: 30vw;
  text-align: center;
}

.left-circle {
  background-color: #E60000;
}

.right-circle {
  background-color: #6DCDEE;
  margin-left: -10vw;
  text-align: left;
}

/*About me and blog*/

.about-me {
  background-color: #F8F8FF;
  min-height: 60vh;
}

.content {
  padding: 3vw;
}

.copy {
  font-size: 1.25em;
}
