/*General */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1, h2{
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.scarlett {
  color: #8D1919;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#footer {
  padding-right: 1em;
  padding-left: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
}

#nav {
  position: fixed;
  background-color: white;
  padding-right: 1em;
  padding-left: 1em;
  font-family: 'Roboto Condensed', sans-serif;
  left: 0;
  right: 0;
}

#right {
  text-align: right;
  float: right;
}


/*Index page */

/*#ven {
  width: 55%;
}*/

#venn div{
  height: 35vw;
  width: 35vw;
  border-radius: 50%;
  opacity: .8;
  behavior: url(/stylesheets/PIE.htc);
}

#venn {
  text-align: center;
  padding-top: 4em;
}

.circle {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 4vw;
  line-height: 35vw;
  text-align: center;
}

.left-circle {
  background-color: #E60000;
}

.right-circle {
  background-color: #6DCDEE;
  margin-left: -10vw;
}

.magic {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.5vw;
}

hr {
    width: 20px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    border: 1px solid;
}


/*About me page*/

.about-me {
  background-color: #F8F8FF;
}

#cities {
  padding-bottom: 2.5em;
}

#about-me-content {
  padding-bottom: 3em;
}


/*Portfolio page*/

#artsee {
  color: #E60000;
}

#vendable {
  color: #6DCDEE;
}

#networks {
  text-align: center;
}

.logo {
  display: inline;
  padding: 1em;
  padding-bottom: 0;
  height: 50px;
  width: 50px;
}

/*Education page*/

.education {
  background-color: #FFFCF6;
}

.one-third {
  text-align: center;
}

#berkeley {
  width: 80%;
  margin-top: 2em;
}

#mcc {
  margin-top: 2em;
}

#dbc {
  width: 95%;
  margin-top: 2em;
}